<a href="https://colab.research.google.com/github/Mehrang1353/KNN_on_Shatel_Data_Churn.ipynb/blob/main/KNN_on_Shatel_Data_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

Import Data

In [6]:
data= pd.read_excel('churn2.xlsx')
data

,code,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,41661474,1,8192,0,7,3,0,0,0,0,0,0
1,41661471,1,8192,0,1,6,0,0,0,0,0,0
2,41661457,2,512,0,7,6,0,0,0,0,0,0
3,41661447,1,512,0,5,4,0,0,0,0,0,0
4,41661306,1,512,0,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1494,41572306,2,4096,1,23,20,0,0,0,0,0,0
1495,41572242,4,8192,1,20,9,0,0,0,0,0,0
1496,41572220,2,1024,1,3,19,0,0,0,0,0,0
1497,41572213,4,8192,1,2,10,0,0,0,0,0,0
1498,41572181,4,4096,1,5,12,0,0,0,0,0,0

Remove attribute Irrelevant

In [7]:
data=data.drop('code',axis=1)
data

,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,1,8192,0,7,3,0,0,0,0,0,0
1,1,8192,0,1,6,0,0,0,0,0,0
2,2,512,0,7,6,0,0,0,0,0,0
3,1,512,0,5,4,0,0,0,0,0,0
4,1,512,0,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1494,2,4096,1,23,20,0,0,0,0,0,0
1495,4,8192,1,20,9,0,0,0,0,0,0
1496,2,1024,1,3,19,0,0,0,0,0,0
1497,4,8192,1,2,10,0,0,0,0,0,0
1498,4,4096,1,5,12,0,0,0,0,0,0

search for null attribute

In [8]:
data.isnull().sum()

city                0
speed               0
churn               0
CSCalls             0
SalesCalls          0
namava              0
shoteltalk          0
casper              0
Android Security    0
VocNo               0
195No               0
dtype: int64

In [9]:
data.describe()

,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
count,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000
mean,1.957972,5158.596398,0.498332,4.060040,10.559706,0.009340,0.002668,0.097398,0.013342,0.030687,0.013342
std,0.939545,4807.360146,0.500164,4.543411,6.099498,0.096221,0.051605,0.296598,0.114774,0.194360,0.170864
min,1.000000,128.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,512.000000,0.000000,1.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,4096.000000,0.000000,3.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,8192.000000,1.000000,5.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.000000,16384.000000,1.000000,49.000000,43.000000,1.000000,1.000000,1.000000,1.000000,2.000000,5.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              1499 non-null   int64
 1   speed             1499 non-null   int64
 2   churn             1499 non-null   int64
 3   CSCalls           1499 non-null   int64
 4   SalesCalls        1499 non-null   int64
 5   namava            1499 non-null   int64
 6   shoteltalk        1499 non-null   int64
 7   casper            1499 non-null   int64
 8   Android Security  1499 non-null   int64
 9   VocNo             1499 non-null   int64
 10  195No             1499 non-null   int64
dtypes: int64(11)
memory usage: 128.9 KB

convert int to string for naminal value

In [11]:
li=['city','churn','namava','shoteltalk','casper','Android Security']
data[li]=data[li].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              1499 non-null   object
 1   speed             1499 non-null   int64
 2   churn             1499 non-null   object
 3   CSCalls           1499 non-null   int64
 4   SalesCalls        1499 non-null   int64
 5   namava            1499 non-null   object
 6   shoteltalk        1499 non-null   object
 7   casper            1499 non-null   object
 8   Android Security  1499 non-null   object
 9   VocNo             1499 non-null   int64
 10  195No             1499 non-null   int64
dtypes: int64(5), object(6)
memory usage: 128.9+ KB

feature selection by randomfarest

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [13]:
x=data.drop('churn',axis=1)
y=data['churn']

In [14]:
print(x.shape)

y.shape

(1499, 10)

(1499,)

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=101)

In [17]:
rf=RandomForestClassifier(random_state=101,criterion='gini')
rf.fit(x_train,y_train)

RandomForestClassifier(random_state=101)

In [18]:
rf.feature_importances_

array([0.25935088, 0.17205142, 0.14533906, 0.39683227, 0.00140411,
       0.00123969, 0.0133583 , 0.00109611, 0.0076163 , 0.00171187])

In [19]:
heders=['name','score']
valus=sorted(zip(x_train.columns,rf.feature_importances_),key=lambda x:x[1]*-1)
print(valus,heders)

[('SalesCalls', 0.3968322716959199), ('city', 0.2593508754052226), ('speed', 0.17205141642424912), ('CSCalls', 0.14533905757671656), ('casper', 0.013358301120046153), ('VocNo', 0.007616299139738729), ('195No', 0.0017118710486514219), ('namava', 0.001404111571762292), ('shoteltalk', 0.0012396902293976906), ('Android Security', 0.0010961057882956076)] ['name', 'score']

Normalazation

In [21]:
sp=data['speed']
sp_n=(sp-sp.min(axis=0))/(sp.max(axis=0)-sp.min(axis=0))
data['speed']=sp_n
data

,city,speed,churn,CSCalls,SalesCalls,namava,shoteltalk,casper,Android Security,VocNo,195No
0,1,0.496063,0,7,3,0,0,0,0,0,0
1,1,0.496063,0,1,6,0,0,0,0,0,0
2,2,0.023622,0,7,6,0,0,0,0,0,0
3,1,0.023622,0,5,4,0,0,0,0,0,0
4,1,0.023622,0,1,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1494,2,0.244094,1,23,20,0,0,0,0,0,0
1495,4,0.496063,1,20,9,0,0,0,0,0,0
1496,2,0.055118,1,3,19,0,0,0,0,0,0
1497,4,0.496063,1,2,10,0,0,0,0,0,0
1498,4,0.244094,1,5,12,0,0,0,0,0,0

Validation

In [24]:
from sklearn.model_selection import train_test_split
x=data.drop('churn',axis=1)
y=data['churn']
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.25,random_state=101)
print(x_train.shape)
y_train.shape

(1124, 10)

(1124,)

learning Model

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5,weights='uniform')
knn.fit(x_train,y_train)

KNeighborsClassifier()

prediction

In [28]:
y_pred=knn.predict(x_test)
y_pred

array(['1', '1', '1', '1', '0', '1', '1', '1', '0', '0', '1', '1', '1',
       '0', '0', '1', '0', '0', '1', '0', '1', '1', '1', '0', '0', '0',
       '0', '1', '0', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1',
       '0', '0', '1', '0', '1', '0', '1', '0', '1', '1', '0', '0', '0',
       '0', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '0',
       '1', '0', '0', '0', '1', '1', '0', '1', '1', '0', '0', '1', '0',
       '1', '0', '1', '1', '1', '0', '0', '1', '1', '1', '1', '0', '1',
       '1', '1', '1', '0', '1', '0', '0', '1', '1', '1', '0', '0', '0',
       '0', '0', '1', '0', '1', '0', '1', '0', '1', '0', '0', '0', '0',
       '1', '1', '0', '0', '0', '0', '0', '1', '0', '1', '1', '0', '1',
       '0', '1', '0', '0', '1', '0', '1', '1', '1', '0', '0', '1', '0',
       '0', '1', '0', '0', '1', '1', '0', '1', '1', '0', '1', '0', '0',
       '1', '1', '0', '0', '0', '1', '0', '0', '1', '1', '0', '0', '1',
       '0', '0', '0', '0', '1', '0', '0', '1', '1', '1', '1', '1', '1',
       '0', '1', '1', '0', '1', '1', '1', '1', '0', '1', '1', '1', '1',
       '0', '0', '0', '1', '0', '0', '1', '1', '0', '0', '0', '1', '1',
       '0', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0',
       '0', '1', '1', '0', '1', '0', '1', '0', '1', '1', '1', '0', '1',
       '1', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1',
       '1', '0', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '1',
       '0', '1', '1', '1', '0', '0', '1', '0', '0', '1', '1', '1', '0',
       '1', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0', '0', '1',
       '1', '0', '0', '0', '1', '0', '1', '1', '1', '1', '0', '1', '1',
       '0', '0', '0', '0', '0', '1', '0', '1', '0', '1', '0', '1', '1',
       '0', '0', '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0',
       '0', '0', '1', '0', '1', '0', '1', '1', '0', '0', '0', '1', '0',
       '1', '1', '0', '0', '0', '0', '0', '1', '1', '1', '1', '0', '0',
       '0', '1', '1', '1', '0', '0', '1', '1', '0', '1', '1', '1', '1',
       '1', '0', '0', '0', '0', '0', '1', '1', '0', '1', '1'],
      dtype=object)

Evaluation

In [29]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from IPython.display import display
from sklearn.metrics import classification_report

In [31]:
accuracy_score(y_test,y_pred)

0.8453333333333334

In [32]:
confusion_matrix(y_test,y_pred)

array([[160,  30],
       [ 28, 157]])

In [33]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.84      0.85       190
           1       0.84      0.85      0.84       185

    accuracy                           0.85       375
   macro avg       0.85      0.85      0.85       375
weighted avg       0.85      0.85      0.85       375